{% extends "core/index_base.html" %}

{% block title %}Contacto{% endblock title %}

{% block content %}


    <div class="pre-form">
        <div class="form-container">
            <h2>Contacto</h2>
            <form method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                {{ form.as_p }}
        
                <input type="submit" value="Enviar">
                <input type="reset" value="Limpiar">
            </form>
        </div>
    </div>
    <script>
        function validateEmail() {
            var email = document.getElementById("email").value;
            var pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;
            if (email.match(pattern)) {
                document.getElementById("emailError").innerHTML = "";
            } else {
                document.getElementById("emailError").innerHTML = "Ingrese un correo electrónico válido";
                event.preventDefault();
            }
        }
    </script>

    {% endblock content %} 