{% extends "core/index_base.html" %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="form-container">
    <h2>Formulario de Contacto</h2>
    <form method='POST'>
        {% csrf_token %}

        {{ form|crispy }}
        <br> <br> 
        <input type="submit" value="Enviar">
        <input type="reset" value="Limpiar"> 
    </form>

    {% if 'ok' in request.GET %}
    <div class="msjalerta" role='alert'>
        <p>El mensaje fue enviado con éxito!</p>
    </div>
    {% endif %}

    {% if 'error' in request.GET %}
    <div class="msjalerta" role='alert'>
        <p>El mensaje no se ha podido enviar con éxito!</p>
    </div>
    {% endif %}
</div>

{% endblock content %}
