{% extends "core/index_base.html" %}
{% block title %}
Patagonia Austral
{% endblock title %}

{% block content %}
{% load static %}

<div class="pre-grid-container">
    <div class="centered-content">
        <img src="{% static 'core/img/portada_austral.jpg' %}" alt="Paisaje de la Patagonia Austral Argentina">
        <h1 class="haustral">Zona Patagonia Austral</h1>
    </div>
</div>
<div id="container_pq">
    <div id="margen_container">
        <div class="parque_a">
            <div class="imagen_parque">
                <img src="{% static 'core/img/foto_pq/austral1.jpg' %}" alt="Parque Nacional Los Glaciares">
            </div>
            <div class="texto">
                <h5>Parque Nacional Los Glaciares - Provincia de Santa Cruz</h5>
                <p>El Parque Nacional Los Glaciares en Santa Cruz es un impresionante tesoro natural argentino, establecido en 1937, conocido por sus majestuosos glaciares, en particular el Glaciar Perito Moreno. Con 7,000 km² de extensión, ofrece una variada gama de paisajes, desde montañas hasta lagos. El verano austral es la mejor época para visitarlo y disfrutar de actividades como senderismo, navegación y la impresionante caída del Glaciar Perito Moreno. Además de su belleza geológica, el parque es hogar de una diversa fauna, incluyendo cóndores y guanacos. El Lago Argentino, el más grande del país, es un punto de interés central con vistas espectaculares de los glaciares que se extienden hacia sus aguas.</p>
            </div>
        </div>
        <div class="parque_b">
            <div class="imagen_parque">
                <img src="{% static 'core/img/foto_pq/austral2.jpg' %}" alt="Parque Nacional Perito Moreno">
            </div>
            <div class="texto">
                <h5>Parque Nacional Perito Moreno - Provincia de Santa Cruz</h5>
                <p>El Parque Nacional Perito Moreno, ubicado en Santa Cruz, Argentina, abarca aproximadamente 127.000 hectáreas y fue creado en 1937. Ofrece diversos ecosistemas como bosques, estepas, lagos, y montañas. Es mejor visitarlo de noviembre a marzo cuando las condiciones climáticas son más agradables. Las actividades permitidas incluyen senderismo, trekking, montañismo, observación de la fauna y flora nativa, camping y fogatas reguladas. El glaciar Perito Moreno es un punto de interés destacado, conocido por sus impresionantes desprendimientos de hielo sobre el Lago Argentino.</p>
            </div>
        </div>
        <div class="parque_a">
            <div class="imagen_parque">
                <img src="{% static 'core/img/foto_pq/austral3.jpg' %}" alt="Parque Nacional Patagonia">
            </div>
            <div class="texto">
                <h5>Parque Nacional Patagonia - Provincia de Santa Cruz</h5>
                <p>El Parque Nacional Patagonia en la provincia de Santa Cruz, Argentina, abarca 132,000 hectáreas y se creó en 2015. Destaca por su biodiversidad, y ecosistemas variados. La mejor época para visitarlo es de octubre a marzo, y las actividades incluyen senderismo, observación de fauna y flora, y camping. El Cañadón del Río Pinturas con sus antiguas pinturas rupestres es un punto de interés imperdible.</p>
            </div>
        </div>
        <div class="parque_b">
            <div class="imagen_parque">
                <img src="{% static 'core/img/foto_pq/austral4.jpg' %}" alt="Parque Nacional Bosques Petrificados de Jaramillo">
            </div>
            <div class="texto">
                <h5>Parque Nacional Bosques Petrificados de Jaramillo - Provincia de Santa Cruz</h5>
                <p>El Parque Nacional Bosques Petrificados de Jaramillo, en Santa Cruz, Argentina, abarca 13,000 hectáreas y fue fundado en 1954. Destaca por sus árboles petrificados de hace 150 millones de años. La mejor época para visitarlo es de octubre a marzo, y las actividades incluyen senderismo, observación de la fauna y flora, y la exploración del Cerro Cuadrado para vistas panorámicas impresionantes de este paisaje prehistórico.</p>
            </div>
        </div>
        <div class="parque_a">
            <div class="imagen_parque">
                <img src="{% static 'core/img/foto_pq/austral5.jpg' %}" alt="Parque Nacional Monte León">
            </div>
            <div class="texto">
                <h5>Parque Nacional Monte León - Provincia de Santa Cruz</h5>
                <p>El Parque Nacional Monte León, en Santa Cruz, Argentina, abarca unas 61,700 hectáreas y se estableció en 2004. Destaca por su belleza costera y biodiversidad marina y terrestre. La mejor época para visitarlo es de octubre a marzo. Ofrece actividades como senderismo con vistas al mar, observación de aves marinas y lobos marinos, y una colonia de pingüinos de Magallanes como punto de interés principal.</p>
            </div>
        </div>
        <div class="parque_b">
            <div class="imagen_parque">
                <img src="{% static 'core/img/foto_pq/austral6.jpg' %}" alt="Parque Nacional Tierra del Fuego">
            </div>
            <div class="texto">
                <h5>Parque Nacional Tierra del Fuego - Provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur</h5>
                <p>El Parque Nacional Tierra del Fuego fue creado en 1960, es un impresionante espacio natural de 63,000 hectáreas. Ofrece una gran biodiversidad, incluyendo bosques subantárticos y costas marinas, ideal para visitar en primavera y verano. Las actividades permitidas incluyen senderismo, observación de fauna y flora y camping. Un punto destacado es la Bahía Lapataia y el Centro de Visitantes Alakush, que brinda información valiosa sobre la región.</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}    