{% extends "core/index_base.html" %}
{% block title %}Centro{% endblock title %}

{% block content %}
{% load static %}

    <div class="pre-grid-container">
        <div class="centered-content">
            <img src="{% static 'core/img/portada_centro.jpg' %}" alt="Paisaje del Centro Argentino">
            <h1>Zona Centro</h1>
        </div>
    </div>
    <div id="container_pq">
        <div id="margen_container">
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/centro1.jpg' %}" alt="Parque Nacional Condorito">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Condorito - Provincia de Córdoba</h5>
                    <p>El Parque Nacional Quebrada del Condorito, en Córdoba, Argentina, cubre 37,345 ha y fue establecido en 1996. Es apto para visitar durante varias estaciones, especialmente en primavera y otoño. Destaca por sus impresionantes quebradas y acantilados, que albergan una población importante de cóndores andinos, una especie en peligro. Las actividades permitidas incluyen senderismo, observación de aves y avistamiento de cóndores desde miradores, destacándose el Mirador del Balcón Norte para vistas espectaculares de la Quebrada del Condorito y estas majestuosas aves.</p>
                </div>
            </div>
            <div class="parque_b">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/centro2.jpg' %}" alt="Parque Nacional San Guillermo">
                </div>
                <div class="texto">
                    <h5>Parque Nacional San Guillermo - Provincia de San Juan</h5>
                    <p>El Parque Nacional San Guillermo, en San Juan, Argentina, con 1,200 km² de extensión desde su creación en 1998, es un tesoro de biodiversidad montañosa. Ofrece actividades como senderismo, observación de fauna y flora, camping y fogatas en áreas específicas. Destacan la hermosa Laguna de Los Patos y el Mirador de Las Loicas, con vistas panorámicas impresionantes. La mejor temporada para visitarlo es la primavera y el verano.</p>
                </div>
            </div>
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/centro3.jpg' %}" alt="Parque Nacional El Leoncito">
                </div>
                <div class="texto">
                    <h5>Parque Nacional El Leoncito - Provincia de San Juan</h5>
                    <p>El Parque Nacional El Leoncito en San Juan, Argentina, establecido en 2002, abarca una variada gama de ecosistemas y alberga especies como guanacos y cóndores. Los visitantes pueden disfrutar de senderismo, observación de fauna y flora, y observación astronómica gracias a su bajo nivel de contaminación lumínica, destacando el Mirador del Sol. La mejor época para visitarlo es en primavera y verano.</p>
                </div>
            </div>
            <div class="parque_b">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/centro4.jpg' %}" alt="Parque Nacional Talampaya">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Talampaya - Provincia de La Rioja</h5>
                    <p>El Parque Nacional Talampaya, en La Rioja, Argentina, establecido en 1997, es un santuario natural que resalta por sus impresionantes formaciones rocosas rojizas y su variada fauna del desierto, como guanacos y cóndores. Los visitantes pueden disfrutar de senderismo, observación de la fauna y flora, así como recorridos guiados para explorar la fascinante historia geológica y arqueológica del lugar, con el Cañón del Talampaya como punto culminante. La mejor época para visitarlo es durante la primavera y el otoño.</p>
                </div>
            </div>
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/centro5.jpg' %}" alt="Parque Nacional Sierra de las Quijadas">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Sierra de las Quijadas - Provincia de San Luis</h5>
                    <p>El Parque Nacional Sierra de las Quijadas en San Luis, Argentina, creado en 1991, es un tesoro natural con formaciones rocosas impresionantes y una diversidad de vida, incluyendo pumas y cóndores. Los visitantes pueden disfrutar de senderismo y observación de la flora y fauna en un entorno de gran belleza. El Mirador del Valle ofrece vistas espectaculares, y la mejor época para visitar es en primavera y otoño.</p>
                </div>
            </div>
            <div class="parque_b">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/centro6.jpg' %}" alt="Parque Nacional Pre-Delta">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Pre-Delta - Provincia de Entre Ríos</h5>
                    <p>El Parque Nacional Pre-Delta en Entre Ríos, Argentina, establecido en 1992, protege humedales y selvas en galería con una rica biodiversidad de aves y especies nativas. Los visitantes pueden disfrutar de actividades como el avistamiento de aves, kayak y paseos en lancha, además de caminatas por senderos naturales. Los miradores ofrecen vistas espectaculares de los humedales. La mejor época para visitar es durante la primavera y el verano, cuando las aves migratorias llenan de vida y color el paisaje.</p>
                </div>
            </div>
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/centro7.jpg' %}" alt="Parque Nacional El Palmar">
                </div>
                <div class="texto">
                    <h5>Parque Nacional El Palmar - Provincia de Entre Ríos</h5>
                    <p>El Parque Nacional El Palmar, ubicado en Entre Ríos, Argentina, se destaca por su rica biodiversidad y variados ecosistemas, como palmares y bosques ribereños. Con aproximadamente 8,500 hectáreas y creado en 1966, es ideal para visitar en primavera y otoño. Ofrece actividades como senderismo, observación de fauna y flora nativa, camping y fogatas. Uno de sus puntos destacados es el "Mirador del Palmar", que ofrece vistas panorámicas impresionantes de los palmares y el río Uruguay</p>
                </div>
            </div>
            <div class="parque_b">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/centro8.jpg' %}" alt="Parque Nacional Ciervo de los Pantanos">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Ciervo de los Pantanos - Provincia de Buenos Aires</h5>
                    <p>El Parque Nacional Ciervo de los Pantanos, ubicado en la Provincia de Buenos Aires, abarca unas 5,000 hectáreas de humedales y fue creado en 1986. Su biodiversidad incluye ciervos de los pantanos, aves acuáticas y flora autóctona, siendo la primavera la mejor época para visitarlo. Los visitantes pueden disfrutar de senderismo, trekking, observación de fauna y flora, así como camping y fogatas en áreas designadas. La Laguna de los Patos es un punto de interés destacado, ofreciendo la oportunidad de observar aves migratorias y disfrutar de hermosas vistas panorámicas.</p>
                </div>
            </div>
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/centro9.jpg' %}" alt="Parque Nacional Campos del Tuyú">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Campos del Tuyú - Provincia de Buenos Aires</h5>
                    <p>El Parque Nacional Campos del Tuyú, en la Provincia de Buenos Aires, se estableció en 1986 y abarca extensos campos con una rica biodiversidad que incluye guanacos, maras y aves costeras. La primavera y el verano son las mejores estaciones para visitarlo, ofreciendo actividades como senderismo, observación de fauna y flora, además de camping. La Playa El Perdido es un punto destacado que brinda vistas al mar Atlántico y la oportunidad de observar aves marinas y la vida costera.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %} 