{% extends "core/index_base.html" %}
{% block title %}
Contacto
{% endblock title %}

{% block content %}
{% load static %}


    <div class="pre-form">
    <div class="form-container">
        <h2>Contacto</h2>
        <form>
            <label for="fullname">Nombre Completo</label>
            <input type="text" id="fullname" name="fullname" required>

            <label for="email">Correo Electronico</label>
            <input type="email" id="email" name="email" required>
            <span id="emailError" class="error"></span>

            <label for="phone">Telefono de Contacto</label>
            <input type="text" id="phone" name="phone" required>

            <input type="submit" value="Enviar" onclick="validateEmail()">
            <input type="reset" value="Limpiar">
        </form>
    </div>

    <script>
        function validateEmail() {
            var email = document.getElementById("email").value;
            var pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;
            if (email.match(pattern)) {
                document.getElementById("emailError").innerHTML = "";
            } else {
                document.getElementById("emailError").innerHTML = "Ingrese un correo electrónico válido";
                event.preventDefault();
            }
        }
    </script>

{% endblock content %} 