{% extends "core/index_base.html" %}
{% block title %}Noreste{% endblock title %}

{% block content %}
{% load static %}

    <div class="pre-grid-container">
        <div class="centered-content">
            <img src="{% static 'core/img/portada_nea.jpg' %}" alt="Paisaje del Noreste Argentino">
            <h1>Zona Noreste</h1>
        </div>
    </div>
    <div id="container_pq">
        <div id="margen_container">
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/nea1.jpg' %}" alt="Parque Nacional Iguazú">
                </div>    
                <div class="texto">
                    <h5>Parque Nacional Iguazú - Provincia de Misiones</h5>
                    <p>El Parque Nacional Iguazú, en Misiones, Argentina, con 677 km² de extensión y protegido desde 1934, es ideal para visitar durante todo el año, especialmente en primavera y verano. Su mayor atracción son las espectaculares Cataratas del Iguazú, rodeadas de selva subtropical. Las actividades permitidas incluyen senderismo, observación de fauna y flora, y la visita a pasarelas con vistas impresionantes de las cataratas. El Circuito Superior destaca como un punto de interés que ofrece una vista cercana de las cataratas desde arriba.</p>
                </div>
            </div>
            <div class="parque_b">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/nea2.jpg' %}" alt="Parque Nacional Chaco">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Chaco - Provincia del Chaco</h5>
                    <p>El Parque Nacional Chaco, en la provincia del Chaco, Argentina, abarca 150 km² y fue establecido en 1954 como área protegida, siendo más adecuado para visitar en invierno y primavera. Se caracteriza por sus bosques de quebracho y biodiversidad en el Gran Chaco. Ofrece actividades como senderismo, observación de fauna y flora, y visitas a áreas naturales. Uno de sus puntos destacados es el Sendero de la Quebrada del Toro, que permite explorar este entorno único del Chaco argentino.</p>
                </div>
            </div>
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/nea3.jpg' %}" alt="Parque Nacional El Impenetrable">
                </div>
                <div class="texto">
                    <h5>Parque Nacional El Impenetrable - Provincia del Chaco</h5>
                    <p>El Parque Nacional El Impenetrable, ubicado en la provincia del Chaco, Argentina, abarca una extensión de 1,500 km² y fue designado como área protegida en 2014. La mejor época para visitarlo es durante los meses de invierno y primavera. Este parque se destaca por su vasta extensión de bosque chaqueño y su rica biodiversidad. Las actividades permitidas incluyen senderismo, observación de fauna y flora, y visitas a áreas naturales. Uno de los puntos de interés más notables es el Sendero del Monte, que brinda la oportunidad de explorar y experimentar la belleza del imponente El Impenetrable.</p>
                </div>
            </div>
            <div class="parque_b">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/nea4.jpg' %}" alt="Parque Nacional Iberá">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Iberá - Provincia de Corrientes</h5>
                    <p>El Parque Nacional Iberá, en la provincia de Corrientes, Argentina, cubre 13,000 km² y fue protegido en 2018. Es ideal para visitar durante todo el año, especialmente en primavera y verano, destacándose por sus Esteros del Iberá, humedales y lagunas que albergan una biodiversidad única. Las actividades permitidas incluyen senderismo, observación de fauna y flora, así como recorridos en bote para apreciar la belleza natural de los Esteros, siendo el sendero Laguna Iberá una experiencia destacada para la observación de la vida silvestre.</p>
                </div>
            </div>
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/nea5.jpg' %}" alt="Parque Nacional Calilegua">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Mburucuyá - Provincia de Corrientes</h5>
                    <p>El Parque Nacional Mburucuyá, en Corrientes, Argentina, abarca 17,660 ha y se estableció como área protegida en 2002. Es un destino ideal durante todo el año, especialmente en primavera y verano, destacándose por su variado ecosistema con humedales y selvas, refugio de la fauna y flora autóctona. Las actividades permitidas incluyen senderismo, observación de aves y mamíferos, así como paseos en bote para explorar los humedales. El Sendero del Estero es un punto de interés que invita a adentrarse en la naturaleza y la biodiversidad de Mburucuyá.</p>
                </div>
            </div>
            <div class="parque_b">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/nea6.jpg' %}" alt="Parque Nacional Río Pilcomayo">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Río Pilcomayo - Provincia de Formosa</h5>
                    <p>El Parque Nacional Río Pilcomayo, en Formosa, Argentina, abarca 52,768 ha y fue establecido como área protegida en 1951. Es ideal para visitar en primavera y verano. Destaca por su ecosistema ribereño y humedales, cruciales para la conservación de aves acuáticas y biodiversidad regional. Se permiten actividades como senderismo, observación de aves y paseos en bote para explorar los humedales, destacando el sendero del Mirador del Pilcomayo como punto de interés para apreciar la naturaleza y la vida silvestre del Río Pilcomayo.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}