{% extends "core/index_base.html" %}
{% block title %}Noroeste{% endblock title %}

{% block content %}

{% load static %}
    <div class="pNoroestere-grid-container">
        <div class="centered-content">
            <img src="{% static 'core/img/portada_noa.jpg' %}" alt="Paisaje del Noroeste Argentino">
            <h1>Zona Noroeste</h1>
        </div>
    </div>
    <div id="container_pq">
        <div id="margen_container">
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/noa1.jpg' %}" alt="Parque Nacional Baritú">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Baritú - Provincia de Salta</h5>
                    <p>El Parque Nacional Baritú ubicado en la provincia de  Salta, Argentina, abarca 722 km², fue establecido  desde 1974, siendo la mejor época para visitarlo en primavera y verano. Alberga una diversa flora y fauna tropical, incluyendo selvas nubladas, bosques tropicales, aves exóticas y mamíferos. Las actividades permitidas incluyen senderismo, observación de fauna y flora, así como camping en áreas designadas, pero no se permiten fogatas para preservar el entorno.Destacan el mirador del Cerro de la Cruz y rutas de senderismo en el Bosque de Arrayanes.</p>
                </div>
            </div>
            <div class="parque_b">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/noa2.jpg' %}" alt="Parque Nacional El Rey">
                </div>
                <div class="texto">
                    <h5>Parque Nacional El Rey - Provincia de Salta</h5>
                    <p>El Parque Nacional El Rey, en la provincia de Salta, Argentina, con una extensión de 441.5 km² desde su creación en 1952, es óptimo para visitar en otoño y primavera. Destaca por su biodiversidad, que incluye selvas montañosas y bosques subtropicales. Permite actividades como senderismo, observación de fauna y flora, y acampar en áreas específicas, aunque sin fogatas. Entre sus puntos destacados se encuentran la Quebrada del Toro y el Mirador de los Cóndores, ideal para observar estas aves majestuosas en su hábitat natural.</p>
                </div>
            </div>
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/noa3.jpg' %}" alt="Parque Nacional Los Cardones">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Los Cardones - Provincia de Salta</h5>
                    <p>El Parque Nacional Los Cardones, en la provincia de Salta, Argentina, abarca 650 km² desde su creación en 1996 y es mejor visitarlo en primavera y verano. Se caracteriza por su paisaje desértico de cactus cardones y permite actividades como senderismo, observación de fauna y flora, así como camping en áreas designadas sin fogatas permitidas. Dos puntos de interés destacados son el Mirador de los Cardones y el sendero hacia la Cueva de los Cardones, que ofrecen experiencias únicas en este ecosistema desértico.</p>
                </div>
            </div>
            <div class="parque_b">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/noa4.jpg' %}" alt="Parque Nacional Aconquija">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Aconquija - Provincia de Tucumán</h5>
                    <p>El Parque Nacional Aconquija, en Tucumán, Argentina, abarca 503 km² desde su creación en 2018 y es ideal para visitar en primavera y verano. Con un paisaje montañoso diverso y rica biodiversidad, ofrece actividades como senderismo, observación de flora y fauna, y camping en áreas designadas, sin permitir fogatas. Destacan el Mirador de las Cumbres y el sendero hacia la Laguna del Cielo como puntos de interés para disfrutar de su entorno montañoso.</p>
                </div>
            </div>
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/noa5.jpg' %}" alt="Parque Nacional Calilegua">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Calilegua - Provincia de Jujuy</h5>
                    <p>El Parque Nacional Calilegua, en Jujuy, Argentina, abarca 763 km² desde su creación en 1979 y es óptimo para visitar en primavera y verano. Destaca por su exuberante selva tropical y permite actividades como senderismo, observación de fauna y flora, así como acampar en áreas designadas, sin fogatas permitidas. Sus puntos de interés incluyen el Sendero del Río de Oro para explorar la selva y el Mirador de los Cóndores con vistas espectaculares.</p>
                </div>
            </div>
            <div class="parque_b">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/noa6.jpg' %}" alt="Parque Nacional Copo">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Copo - Provincia de Santiago del Estero</h5>
                    <p>El Parque Nacional Copo, en Santiago del Estero, Argentina, abarca 11,125 km² desde su creación en 2000 y es mejor visitarlo en primavera y verano. Destaca por su diversidad de ecosistemas, incluyendo bosques y humedales, con actividades como senderismo, observación de fauna y flora, y camping en áreas designadas, sin fogatas permitidas. Dos puntos destacados son el Sendero de los Bosques de Ceibos para explorar la flora y el Observatorio de Aves en el Estero del Tunal para la observación de aves.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}    
