{% extends "core/index_base.html" %}
{% block title %}Patagonia{% endblock title %}
{% block content %}
{% load static %}

    <div class="pre-grid-container">
        <div class="centered-content">
            <img src="{% static 'core/img/portada_patagonia.jpg' %}" alt="Paisaje de la Patagonia Argentina">
            <h1 class="hpata">Zona Patagonia</h1>
        </div>
    </div>
    <div id="container_pq">
        <div id="margen_container">
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/pata1.jpg' %}" alt="Parque Nacional Lanín">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Lanín - Provincia del Neuquén</h5>
                    <p>El Parque Nacional Lanín, en la Provincia de Neuquén, es un extenso y fascinante espacio natural con bosques, montañas y lagos, establecido como parque nacional en 1937. Ofrece una rica biodiversidad con huemules, pumas, cóndores y peces en sus aguas. La primavera y el verano son ideales para actividades como senderismo, pesca y disfrutar de sus lagos. El volcán Lanín es un destacado punto de interés para montañismo y fotografía durante todo el año.</p>
                </div>
            </div>
            <div class="parque_b">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/pata2.jpg' %}" alt="Parque Nacional Laguna Blanca">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Laguna Blanca - Provincia del Neuquén</h5>
                    <p>El Parque Nacional Laguna Blanca en Neuquén, establecido en 1940, es un hermoso enclave natural que destaca por sus lagunas, bosques y aves acuáticas, como flamencos y cisnes de cuello negro. Ideal para visitar en primavera y verano, ofrece caminatas, paseos en kayak y la oportunidad de observar fauna, incluyendo zorros y guanacos. El sendero alrededor de la Laguna Blanca es un atractivo punto de recorrido escénico.</p>
                </div>
            </div>
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/pata3.jpg' %}" alt="Parque Nacional Los Arrayanes">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Los Arrayanes - Provincia del Neuquén</h5>
                    <p>El Parque Nacional Los Arrayanes en Neuquén, creado en 1971, es famoso por su singular bosque de arrayanes con corteza canela en la península de Quetrihué, en el Lago Nahuel Huapi. Visitable en primavera y verano a través de excursiones en barco desde Villa La Angostura, este parque ofrece senderismo, observación de aves y vistas panorámicas de los impresionantes paisajes de los Andes Patagónicos.</p>
                </div>
            </div>
            <div class="parque_b">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/pata4.jpg' %}" alt="Parque Nacional Nahuel Huapi">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Nahuel Huapi - Provincias de Río Negro y Neuquén</h5>
                    <p>El Parque Nacional Nahuel Huapi, en las provincias de Río Negro y Neuquén, es un icónico tesoro natural argentino fundado en 1934. Ofrece una diversidad de paisajes que incluyen montañas, bosques y lagos, ideales para actividades como senderismo, pesca y avistamiento de aves en primavera y verano. El parque es hogar de especies como el huemul y el cóndor andino. Su joya es el Lago Nahuel Huapi, con aguas cristalinas y un entorno escénico, convirtiéndo en un destino imperdible para amantes de la naturaleza y actividades al aire libre.</p>
                </div>
            </div>
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/pata5.jpg' %}" alt="Parque Nacional Lihué Calel">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Lihué Calel - Provincia de La Pampa</h5>
                    <p>El Parque Nacional Lihué Calel en La Pampa, creado en 1977 y abarcando unas 32,000 hectáreas, es un santuario natural con biodiversidad en montes, bosques y zonas áridas. La primavera y principios de verano son ideales para visitarlo. Ofrece senderismo, observación de flora y fauna, camping y fogatas en áreas designadas. La Cueva de las Manos, un sitio arqueológico con pinturas rupestres, es un punto de interés destacado que refleja la rica historia cultural de la región.</p>
                </div>
            </div>
            <div class="parque_b">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/pata6.jpg' %}" alt="Parque Nacional Los Alerces">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Los Alerces - Provincia del Chubut</h5>
                    <p>El Parque Nacional Los Alerces, en la Provincia del Chubut, es un tesoro natural protegido desde 1937, destacado por su majestuoso paisaje de montañas, lagos y bosques de alerces milenarios. La primavera y el verano son ideales para visitarlo, con actividades como senderismo, pesca y navegación en el Lago Futalaufquen. El parque alberga una rica fauna, incluyendo cóndores y huemules, y ofrece la emocionante excursión al Bosque de Arrayanes, uno de los últimos de su tipo en Argentina.</p>
                </div>
            </div>
            <div class="parque_a">
                <div class="imagen_parque">
                    <img src="{% static 'core/img/foto_pq/pata7.jpg' %}" alt="Parque Nacional Lago Puelo">
                </div>
                <div class="texto">
                    <h5>Parque Nacional Lago Puelo - Provincia del Chubut</h5>
                    <p>El Parque Nacional Lago Puelo, en la Provincia del Chubut y protegido desde 1971, destaca por su belleza natural con lagos, bosques y montañas de los Andes. La primavera y el verano son ideales para visitarlo y disfrutar de actividades como senderismo, camping, pesca y kayak en el Lago Puelo. Abundante en biodiversidad, es un lugar propicio para la observación de aves. La Playa Las Cascadas, con su arena volcánica a orillas del lago, es un punto de interés relajante y escénico en el parque.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}